---
- Anwendungen:
    - Paperless-ngx:
        icon: paperless-ngx
        href: https://paperless.home.arpa
        description: Dokumentenverwaltung

    - Vaultwarden:
        icon: vaultwarden
        href: https://vault.home.arpa
        description: Passwortverwaltung

- Infrastruktur:
    - AdGuard Home:
        icon: adguard-home
        href: https://adguard.home.arpa
        description: DNS & Werbeblocker
        widget:
          type: adguard
          url: http://adguard:80
          username: "{{HOMEPAGE_VAR_ADGUARD_USER}}"
          password: "{{HOMEPAGE_VAR_ADGUARD_PASS}}"

    - ntfy:
        icon: ntfy
        href: https://ntfy.home.arpa
        description: Benachrichtigungen

- Monitoring & Operations:
    - Grafana:
        icon: grafana
        href: https://grafana.home.arpa
        description: Dashboards & Observability

    - Prometheus:
        icon: prometheus
        href: https://prometheus.home.arpa
        description: Metriken & Monitoring

    - WUD:
        icon: whats-up-docker
        href: https://updates.home.arpa
        description: Container-Updates
